  <ul class="nav navb container-fluid justify-content-end position-fixed fixed-top">

    <li class="">
        <a class="btn btn-success" href="/" role="button">ALL BLOGS</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary" href="/blogs/cre" role="button">CREATE NEW BLOG</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-info" href="/about" role="button">ABOUT US</a>
    </li>
    
  </ul>

  


